@charset "utf-8";
/* CSS Document */

@media screen and (max-width:1170px){
.apps {
    margin-top: 75%;
}
.rectangle-blue {
    background: #fff;	
	}
	
}
@media screen and (max-width:1024px){
.nav>li>a {
    padding: 10px 6px !important;
}

.rt-nav li a {
    font-size: 12px;
}

.login-btn {
    background: #00b0f0;
    color: #fff!important;
}

.rt-nav {
    padding-top: 15px;
}

.login-btn a {
    color: #fff!important;
}
}	
@media screen and (max-width:991px){	
	
.img-2 {
    right: 120px;
    top: 0;
}	

.img-1 {
    left: -30px;
    top: 0;
}

.apps {
    margin-top: 50%;
    padding-left: 25%;

}

.rt-mobiles {
    margin-top: 20%;
}

.features {
    margin: 10% 0;
}
.mid-area p {
    padding-right: 0;
}
}

@media screen and (max-width:767px){

.rt-nav {
    width: 100%;
}

.navbar-nav {
    margin: 0;
}
.navbar-header {
    background: #185fc0 none repeat scroll 0 0;
    margin-top: 20px;
}

.navbar-brand {
    color: #ffffff !important;
    display: block;
    font-size: 24px;
    padding-top: 20px;
}

.logo {
    float: left;
    width: 100%;
    text-align: center;
}

ul.nav.navbar-nav {
    background: #f5f5f5;
}

.nav>li {
    border-bottom: 1px solid #ccc;
}

}

@media screen and (max-width:667px){

.img-2 {
    right: 40px;
    top: 0;
}

.apps {
    margin-top: 58%;
    padding-left: 21%;
}
.nav>li>a {
    padding: 10px 10px !important;
}

.rt-nav li a {
    font-size: 14px;
}

.login-btn {
    float: right;
}
}

@media screen and (max-width:600px){

.rectangle2 {
    right: 110px;
    top: 160px;
    position: absolute;
    z-index: -1;
}

.img-2 {
    right: 10px;
    top: 0;
}

.apps {
    margin-top: 64%;
    padding-left: 28%;
}
.col-md-6.rt-mobiles {
    display: none;
}
}


@media screen and (max-width:567px){
.img-1 {
    display: none;
}

.img-2 {
    display: none;
}	
	
	}
	
@media screen and (max-width:484px){	

	
.apps {

    margin-top: 74%;
    z-index: 9999;
    position: relative;
    text-align: center;
    padding: 0;

}

.rectangle2 {
    left: 40px;
    top: 80px;
    position: absolute;
    z-index: 999;
}	
	
	}
	
@media screen and (max-width:414px){		
	
.mid-area h3 {

    font-size: 32px;
   
}

.rectangle2 {

    left: 50px;
    top: 120px;
    position: absolute;
    z-index: 999;
    width: 320px;
    height: 320px;

}

.features {

    margin: 40% 0 10%;

}

.rectangle2.img-circle {
    display: none;
}

.apps {
    margin-top: 0%;
}

.features {
    margin: 10% 0 10%;
}
	
.contact-form {
    padding: 20px;
}	
	
}

@media screen and (max-width:384px){	


.rectangle2 {
    left: 30px;
    top: 100px;
    position: absolute;
    z-index: 999;
    width: 320px;
    height: 320px;
}

}

@media screen and (max-width:320px){	


.rectangle2 {
    left: 0;
   
}

}